.sideNav{
  background-color: #5B13B4;
  /* display: grid;
  grid-template-columns: 1fr ; */
  height: 100vh;
  width: 280px;
  padding: 10px;
  position: fixed;
  border-radius: 15px;
}
.main{
  margin-left: 300px;
  box-sizing: border-box;
}
.layout{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containte{
  height: 90vh;
}
/* 
.sideNav-header{
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
